# ðŸ›’ FreshGro Analysis: SQL Functions & Business Insights

## ðŸ“‚ Database: `freshgro_db`
## ðŸ“Š Table: `orders`

---
### ðŸŽ¯ Objective 

Introduce and demonstrate **SQL functions** that will help FreshGro:

- ðŸ§¹ Clean & format messy text data  
- ðŸ“… Extract insights from date fields  
- ðŸ§  Classify & group customers using conditional logic  
- ðŸš« Handle NULLs and missing values gracefully  
- ðŸ”„ Create flexible, logic-driven queries

### ðŸ”Œ Connect to Freshgro_db Datatbase on MySQL Workbench

#### ENSURE THAT YOU HAVE LOADED THE `SQL_Functions_IP_2_webinar_freshgro_db.sql` file in MySQL work bench first.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.



# Replace password with your MySQL workbench password
%sql mysql+pymysql://root:MissyElliot!123@127.0.0.1:3306/freshgro_db

### WHAT WE ARE WORKING WITH

In [3]:
%%sql

SELECT
    *
FROM
    orders
LIMIT 5;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
5 rows affected.

[(1, 'Zainab Boateng', 'Whole Milk', 1, Decimal('1.14'), Decimal('1.14'), datetime.date(2025, 7, 4), 'Pending', 'Card', 'Dakar', 1),
 (2, 'Fatou Molefe', 'Rice (5kg)', 9, Decimal('1.97'), Decimal('17.73'), datetime.date(2025, 7, 4), 'Cancelled', 'Cash', 'Addis Ababa', 4),
 (3, 'Amina Mwangi', 'Cooking Oil', 9, Decimal('3.64'), Decimal('32.76'), datetime.date(2025, 7, 8), 'Delivered', 'Card', 'Cairo', 4),
 (4, 'Kofi Abubakar', 'Tomatoes (kg)', 9, Decimal('3.49'), Decimal('31.41'), datetime.date(2025, 7, 10), 'Cancelled', 'Card', 'Tunis', 3),
 (5, 'Lindiwe Molefe', 'Cooking Oil', 7, Decimal('0.58'), Decimal('4.06'), datetime.date(2025, 7, 28), 'Cancelled', 'Card', 'Abidjan', 4)]

### Explanation
* `SELECT *:` Selects all columns in the table
* `FROM orders:` From table orders;
* `LIMIT 5:` Restricts the results to only 5 rows

## ðŸŽ“ Section 1: Numeric Functions & Aggregations 

### ðŸ”¹ 1. What is the total revenue generated from all orders?

> #### ðŸ’¼ "What is the average value of a customer order?"

In [4]:
%%sql

SELECT
    SUM(total_amount) AS Total_Revenue
FROM
    orders;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
1 rows affected.

[(Decimal('1537.91'),)]

### Explanation
* SUM(total_amount) : Adds up the values of all orders.
* AS Total_Revenue : Gives the result a readable alias.

### ðŸ”¹ 2. What is the average order value?
> #### ðŸ’¼ "What is the average value of a customer order?"

In [5]:
%%sql
SELECT
    AVG(total_amount) AS Average_Revenue
FROM
    orders;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
1 rows affected.

[(Decimal('15.226832'),)]

### Explanation
* AVG(total_amount) : Calculates the average values of all orders in the total_amount column.
* AS Average_Revenue : Gives the result a readable alias.

### ðŸ”¹ 3. What is the highest and lowest order value placed?
> #### ðŸ’¼ "What is the highest and lowest value of a single order placed by any customer?"

In [6]:
%%sql

SELECT
    MIN(total_amount) AS lowest_value,
    MAX(total_amount) AS highest_value
FROM
    orders;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
1 rows affected.

[(Decimal('1.14'), Decimal('43.10'))]

### Explanation
* MIN(total_amount) AS lowest_value: Calculates the Minimum total amount in orders table and name the result lowest_value.
* MAX(total_amount) AS highest_value: Calculates the Maximum total amount in orders table and name the result highest_value.

### ðŸ”¹ 4. Round average delivery rating to 1 decimal place
> #### ðŸ’¼ "What is the average delivery satisfaction rating from customers?"

In [7]:
%%sql

SELECT 
    ROUND(AVG(delivery_rating), 1)
FROM
    orders
WHERE
    delivery_rating IS NOT NULL;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
1 rows affected.

[(Decimal('2.8'),)]

### Explanation
* WHERE delivery_rating IS NOT NULL:Filters out orders that don't have a rating.
* ROUND(AVG(delivery_rating), 1): Calculates the average delivery rating and round the result to 1 decimal.

## ðŸ“… Section 2: Date & Time Functions
### ðŸ”¹ 5. What year did most orders occur in?
> #### ðŸ’¼ "In which year did FreshGro receive the highest number of customer orders?"

In [8]:
%%sql

SELECT
    YEAR(order_date) AS order_year,
    COUNT(*) AS total_orders
FROM
    orders
WHERE
    order_date IS NOT NULL
GROUP BY
    order_year
ORDER BY
    total_orders DESC
LIMIT 1;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
1 rows affected.

[(2025, 101)]

### Explanation
* YEAR(order_date): Extracts the year from each orders's date.
* COUNT(*) : Counts the number of orders per year.
* WHERE order_date IS NOT NULL: Ensures no missing dates interfere with the count.
* GROUP BY order_year: Groups orders by year.
* ORDER BY total_orders DESC: Sorts the years by total number of orders in descending order.
* LIMIT 1: Returns only 1 year with most orders.

### ðŸ”¹ 6. How many days since the earliest order?
> #### ðŸ’¼ "How many days have passed since the first recorded customer order?"

In [9]:
%%sql

SELECT
    DATEDIFF(CURDATE(),MIN(order_date)) AS Date_since_earliest_order
FROM
    orders
WHERE
    order_date IS NOT NULL;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
1 rows affected.

[(149,)]

### Explanation
* MIN(order_date): Finds the earliest order date in the dataset.
* CURDATE(): Gets the current date from the system.
* DATEDIFF(CURDATE(),MIN(order_date)): Calculates the number of days between today and the earliest order date.
* WHERE order_date IS NOT NULL: Ensured valid dates are considered.
* AS Date_since_earliest_order: Labes the result column for clarity.

### ðŸ”¹ 7. Add 7 days to each order date to simulate delivery due date
> #### ðŸ’¼ "What is the expected delivery due date for each order, assuming a 7-day delivery timeline?"

In [10]:
%%sql

SELECT
    order_id,
    order_date,
    DATE_ADD(order_date, INTERVAL 7 DAY) AS Delivery_due_date
FROM
    orders
WHERE
    order_date IS NOT NULL;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
101 rows affected.

[(1, datetime.date(2025, 7, 4), datetime.date(2025, 7, 11)),
 (2, datetime.date(2025, 7, 4), datetime.date(2025, 7, 11)),
 (3, datetime.date(2025, 7, 8), datetime.date(2025, 7, 15)),
 (4, datetime.date(2025, 7, 10), datetime.date(2025, 7, 17)),
 (5, datetime.date(2025, 7, 28), datetime.date(2025, 8, 4)),
 (6, datetime.date(2025, 7, 31), datetime.date(2025, 8, 7)),
 (7, datetime.date(2025, 7, 13), datetime.date(2025, 7, 20)),
 (8, datetime.date(2025, 7, 18), datetime.date(2025, 7, 25)),
 (9, datetime.date(2025, 7, 23), datetime.date(2025, 7, 30)),
 (10, datetime.date(2025, 7, 3), datetime.date(2025, 7, 10)),
 (11, datetime.date(2025, 7, 13), datetime.date(2025, 7, 20)),
 (12, datetime.date(2025, 7, 31), datetime.date(2025, 8, 7)),
 (13, datetime.date(2025, 7, 31), datetime.date(2025, 8, 7)),
 (14, datetime.date(2025, 7, 10), datetime.date(2025, 7, 17)),
 (15, datetime.date(2025, 7, 19), datetime.date(2025, 7, 26)),
 (16, datetime.date(2025, 7, 14), datetime.date(2025, 7, 21)),
 (17, datetime.date(2025, 7, 8), datetime.date(2025, 7, 15)),
 (18, datetime.date(2025, 7, 30), datetime.date(2025, 8, 6)),
 (19, datetime.date(2025, 7, 9), datetime.date(2025, 7, 16)),
 (20, datetime.date(2025, 7, 15), datetime.date(2025, 7, 22)),
 (21, datetime.date(2025, 7, 30), datetime.date(2025, 8, 6)),
 (22, datetime.date(2025, 7, 18), datetime.date(2025, 7, 25)),
 (23, datetime.date(2025, 7, 22), datetime.date(2025, 7, 29)),
 (24, datetime.date(2025, 7, 22), datetime.date(2025, 7, 29)),
 (25, datetime.date(2025, 7, 23), datetime.date(2025, 7, 30)),
 (26, datetime.date(2025, 7, 15), datetime.date(2025, 7, 22)),
 (27, datetime.date(2025, 7, 20), datetime.date(2025, 7, 27)),
 (28, datetime.date(2025, 7, 9), datetime.date(2025, 7, 16)),
 (29, datetime.date(2025, 7, 7), datetime.date(2025, 7, 14)),
 (30, datetime.date(2025, 7, 27), datetime.date(2025, 8, 3)),
 (31, datetime.date(2025, 7, 10), datetime.date(2025, 7, 17)),
 (32, datetime.date(2025, 7, 27), datetime.date(2025, 8, 3)),
 (33, datetime.date(2025, 7, 24), datetime.date(2025, 7, 31)),
 (34, datetime.date(2025, 7, 16), datetime.date(2025, 7, 23)),
 (35, datetime.date(2025, 7, 10), datetime.date(2025, 7, 17)),
 (36, datetime.date(2025, 7, 27), datetime.date(2025, 8, 3)),
 (37, datetime.date(2025, 7, 22), datetime.date(2025, 7, 29)),
 (38, datetime.date(2025, 7, 11), datetime.date(2025, 7, 18)),
 (39, datetime.date(2025, 7, 18), datetime.date(2025, 7, 25)),
 (40, datetime.date(2025, 7, 28), datetime.date(2025, 8, 4)),
 (41, datetime.date(2025, 7, 8), datetime.date(2025, 7, 15)),
 (42, datetime.date(2025, 7, 4), datetime.date(2025, 7, 11)),
 (43, datetime.date(2025, 7, 7), datetime.date(2025, 7, 14)),
 (44, datetime.date(2025, 7, 2), datetime.date(2025, 7, 9)),
 (45, datetime.date(2025, 7, 12), datetime.date(2025, 7, 19)),
 (46, datetime.date(2025, 7, 4), datetime.date(2025, 7, 11)),
 (47, datetime.date(2025, 7, 10), datetime.date(2025, 7, 17)),
 (48, datetime.date(2025, 7, 22), datetime.date(2025, 7, 29)),
 (49, datetime.date(2025, 7, 11), datetime.date(2025, 7, 18)),
 (50, datetime.date(2025, 7, 29), datetime.date(2025, 8, 5)),
 (51, datetime.date(2025, 7, 6), datetime.date(2025, 7, 13)),
 (52, datetime.date(2025, 7, 1), datetime.date(2025, 7, 8)),
 (53, datetime.date(2025, 7, 20), datetime.date(2025, 7, 27)),
 (54, datetime.date(2025, 7, 29), datetime.date(2025, 8, 5)),
 (55, datetime.date(2025, 7, 19), datetime.date(2025, 7, 26)),
 (56, datetime.date(2025, 7, 2), datetime.date(2025, 7, 9)),
 (57, datetime.date(2025, 7, 4), datetime.date(2025, 7, 11)),
 (58, datetime.date(2025, 7, 1), datetime.date(2025, 7, 8)),
 (59, datetime.date(2025, 7, 9), datetime.date(2025, 7, 16)),
 (60, datetime.date(2025, 7, 3), datetime.date(2025, 7, 10)),
 (61, datetime.date(2025, 7, 13), datetime.date(2025, 7, 20)),
 (62, datetime.date(2025, 7, 17), datetime.date(2025, 7, 24)),
 (63, datetime.date(2025, 7, 13), datetime.date(2025, 7, 20)),
 (64, datetime.date(2025, 7, 6), datetime.date(2025, 7, 13)),
 (65, datetime.date(2025, 7, 21), datetime.date(2025, 7, 28)),
 (66, datetime.date(2025, 7, 1), datetime.date(2025, 7, 8)),
 (67, datetime.date(2025, 7, 7), datetime.date(2025, 7, 14)),
 (68, datetime.date(2025, 7, 22), datetime.date(2025, 7, 29)),
 (69, datetime.date(2025, 7, 5), datetime.date(2025, 7, 12)),
 (70, datetime.date(2025, 7, 19), datetime.date(2025, 7, 26)),
 (71, datetime.date(2025, 7, 9), datetime.date(2025, 7, 16)),
 (72, datetime.date(2025, 7, 4), datetime.date(2025, 7, 11)),
 (73, datetime.date(2025, 7, 4), datetime.date(2025, 7, 11)),
 (74, datetime.date(2025, 7, 20), datetime.date(2025, 7, 27)),
 (75, datetime.date(2025, 7, 23), datetime.date(2025, 7, 30)),
 (76, datetime.date(2025, 7, 14), datetime.date(2025, 7, 21)),
 (77, datetime.date(2025, 7, 27), datetime.date(2025, 8, 3)),
 (78, datetime.date(2025, 7, 30), datetime.date(2025, 8, 6)),
 (79, datetime.date(2025, 7, 8), datetime.date(2025, 7, 15)),
 (80, datetime.date(2025, 7, 13), datetime.date(2025, 7, 20)),
 (81, datetime.date(2025, 7, 12), datetime.date(2025, 7, 19)),
 (82, datetime.date(2025, 7, 12), datetime.date(2025, 7, 19)),
 (83, datetime.date(2025, 7, 11), datetime.date(2025, 7, 18)),
 (84, datetime.date(2025, 7, 3), datetime.date(2025, 7, 10)),
 (85, datetime.date(2025, 7, 28), datetime.date(2025, 8, 4)),
 (86, datetime.date(2025, 7, 4), datetime.date(2025, 7, 11)),
 (87, datetime.date(2025, 7, 26), datetime.date(2025, 8, 2)),
 (88, datetime.date(2025, 7, 16), datetime.date(2025, 7, 23)),
 (89, datetime.date(2025, 7, 14), datetime.date(2025, 7, 21)),
 (90, datetime.date(2025, 7, 3), datetime.date(2025, 7, 10)),
 (91, datetime.date(2025, 7, 16), datetime.date(2025, 7, 23)),
 (92, datetime.date(2025, 7, 9), datetime.date(2025, 7, 16)),
 (93, datetime.date(2025, 7, 2), datetime.date(2025, 7, 9)),
 (94, datetime.date(2025, 7, 2), datetime.date(2025, 7, 9)),
 (95, datetime.date(2025, 7, 14), datetime.date(2025, 7, 21)),
 (96, datetime.date(2025, 7, 16), datetime.date(2025, 7, 23)),
 (97, datetime.date(2025, 7, 26), datetime.date(2025, 8, 2)),
 (98, datetime.date(2025, 7, 29), datetime.date(2025, 8, 5)),
 (99, datetime.date(2025, 7, 27), datetime.date(2025, 8, 3)),
 (100, datetime.date(2025, 7, 9), datetime.date(2025, 7, 16)),
 (101, datetime.date(2025, 7, 4), datetime.date(2025, 7, 11))]

### Explanation
* `order_date:` Displays the original order date.
* `DATE_ADD(order_date, INTERVAL 7 DAY):` Adds 7 days to the order date to simulate delivery due date'
* `AS Delivery_due_date:` Assigns a clear name to the new column.
* `WHERE order_date IS NOT NULL:` Ensures only valid dates are used foe calculation.

## ðŸ“ Section 3: String Functions
### ðŸ”¹ 8. Display all customer names in uppercase
> #### ðŸ’¼ "What are the unique customer names in our records, standardized in uppercase for consistency?"

In [11]:
%%sql

SELECT
    DISTINCT UPPER(customer_name) AS customer_name_uppercase
FROM
    orders
WHERE
    customer_name IS NOT NULL;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
63 rows affected.

[('ZAINAB BOATENG',),
 ('FATOU MOLEFE',),
 ('AMINA MWANGI',),
 ('KOFI ABUBAKAR',),
 ('LINDIWE MOLEFE',),
 ('YARED MWANGI',),
 ('KOFI MWANGI',),
 ('KOFI BEKELE',),
 ('AMINA MENSAH',),
 ('LINDIWE DIALLO',),
 ('FATOU OMAR',),
 ('AMINA DLAMINI',),
 ('JUMA OSEI',),
 ('AMINA DIALLO',),
 ('ZAINAB OSEI',),
 ('AMINA OMAR',),
 ('THATO OMAR',),
 ('ZAINAB DLAMINI',),
 ('AMINA BOATENG',),
 ('JUMA MOLEFE',),
 ('ZAINAB BEKELE',),
 ('KWAME DIALLO',),
 ('ABENA OMAR',),
 ('YARED DIALLO',),
 ('AMINA MOLEFE',),
 ('KOFI MENSAH',),
 ('AMINA BEKELE',),
 ('ABENA BOATENG',),
 ('THATO MENSAH',),
 ('ABENA ABUBAKAR',),
 ('LINDIWE BOATENG',),
 ('KWAME MENSAH',),
 ('JUMA OMAR',),
 ('FATOU ABUBAKAR',),
 ('THATO BEKELE',),
 ('LINDIWE DLAMINI',),
 ('FATOU DLAMINI',),
 ('THATO BOATENG',),
 ('KWAME BEKELE',),
 ('KWAME MWANGI',),
 ('THATO DLAMINI',),
 ('KOFI BOATENG',),
 ('ZAINAB DIALLO',),
 ('ABENA DIALLO',),
 ('YARED OMAR',),
 ('ABENA OSEI',),
 ('KWAME DLAMINI',),
 ('THATO DIALLO',),
 ('JUMA ABUBAKAR',),
 ('FATOU BOATENG',),
 ('JUMA DIALLO',),
 ('KOFI OMAR',),
 ('YARED OSEI',),
 ('YARED BOATENG',),
 ('FATOU DIALLO',),
 ('KWAME OSEI',),
 ('JUMA MWANGI',),
 ('KWAME OMAR',),
 ('FATOU BEKELE',),
 ('YARED MOLEFE',),
 ('LINDIWE MWANGI',),
 ('ZAINAB MENSAH',),
 ('GRACE ANYA',)]

### Explanation
* `UPPER(customer_name):` Converts each customer's name to uppercase letters.
* `Distinct:` Ensures each nane appears only once.
* `customer_name_uppercase:` Assigns a clear alias to the output column.
* `WHERE customer_name IS NOT NULL:` Excludes orders with missing customer names

### ðŸ”¹ 9. Extract the first 3 characters of each city name
> #### ðŸ’¼ "What are the unique cities in our order records, and what are their standardized 3-letter prefixes for tagging or grouping?"

In [12]:
%%sql

SELECT
    DISTINCT city,
    LEFT(city,3) AS city_prefix
FROM
    orders
WHERE
    city IS NOT NULL;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
11 rows affected.

[('Dakar', 'Dak'),
 ('Addis Ababa', 'Add'),
 ('Cairo', 'Cai'),
 ('Tunis', 'Tun'),
 ('Abidjan', 'Abi'),
 ('Accra', 'Acc'),
 ('Kampala', 'Kam'),
 ('Nairobi', 'Nai'),
 ('Johannesburg', 'Joh'),
 ('Lagos', 'Lag'),
 ('Jos', 'Jos')]

### Explanation
* `LEFT(city,3):` Extracts the first 3 characters from each city name.
* `DISTINCT city:` Ensures each city appears once.
* `AS city_prefix:` Labels the extracted column.
* `WHERE city IS NOT NULL:` Filters out records with missing city name.

### ðŸ”¹ 10. Replace 'Eggs (dozen)'  with 'Eggs (12-pack)'
> #### ðŸ’¼ "How can we update product naming in our records to ensure consistency and better alignment with customer-facing terminology?"

In [13]:
%%sql

SELECT
    REPLACE(product_name, "Eggs (dozen)", "Eggs (12-pack)") AS cleaned_product
FROM
    orders;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
101 rows affected.

[('Whole Milk',),
 ('Rice (5kg)',),
 ('Cooking Oil',),
 ('Tomatoes (kg)',),
 ('Cooking Oil',),
 ('Beef Cuts',),
 ('Tomatoes (kg)',),
 ('Organic Apples',),
 ('Tomatoes (kg)',),
 ('Whole Milk',),
 ('Bottled Water',),
 ('Rice (5kg)',),
 ('Oranges',),
 ('Brown Bread',),
 ('Brown Bread',),
 ('Brown Bread',),
 ('Eggs (12-pack)',),
 ('Cooking Oil',),
 ('Eggs (12-pack)',),
 ('Beef Cuts',),
 ('Yoghurt',),
 ('Whole Milk',),
 ('Chicken Wings',),
 ('Oranges',),
 ('Tomatoes (kg)',),
 ('Beef Cuts',),
 ('Bottled Water',),
 ('Beef Cuts',),
 ('Eggs (12-pack)',),
 ('Beef Cuts',),
 ('Yoghurt',),
 ('Bottled Water',),
 ('Organic Apples',),
 ('Organic Apples',),
 ('Cooking Oil',),
 ('Yoghurt',),
 ('Whole Milk',),
 ('Rice (5kg)',),
 ('Eggs (12-pack)',),
 ('Brown Bread',),
 ('Cereal',),
 ('Beef Cuts',),
 ('Oranges',),
 ('Cooking Oil',),
 ('Brown Bread',),
 ('Eggs (12-pack)',),
 ('Organic Apples',),
 ('Bananas',),
 ('Spinach',),
 ('Whole Milk',),
 ('Beef Cuts',),
 ('Beef Cuts',),
 ('Cooking Oil',),
 ('Organic Apples',),
 ('Chicken Wings',),
 ('Brown Bread',),
 ('Organic Apples',),
 ('Rice (5kg)',),
 ('Cooking Oil',),
 ('Whole Milk',),
 ('Eggs (12-pack)',),
 ('Bottled Water',),
 ('Bottled Water',),
 ('Cooking Oil',),
 ('Yoghurt',),
 ('Organic Apples',),
 ('Bottled Water',),
 ('Spinach',),
 ('Spinach',),
 ('Beef Cuts',),
 ('Yoghurt',),
 ('Oranges',),
 ('Whole Milk',),
 ('Whole Milk',),
 ('Cereal',),
 ('Bottled Water',),
 ('Chicken Wings',),
 ('Yoghurt',),
 ('Oranges',),
 ('Eggs (12-pack)',),
 ('Rice (5kg)',),
 ('Cereal',),
 ('Brown Bread',),
 ('Beef Cuts',),
 ('Chicken Wings',),
 ('Whole Milk',),
 ('Beef Cuts',),
 ('Organic Apples',),
 ('Tomatoes (kg)',),
 ('Bottled Water',),
 ('Rice (5kg)',),
 ('Chicken Wings',),
 ('Beef Cuts',),
 ('Chicken Wings',),
 ('Brown Bread',),
 ('Brown Bread',),
 ('Rice (5kg)',),
 ('Chicken Wings',),
 ('Cooking Oil',),
 ('Organic Apples',),
 ('Bottled Water',)]

### Explanation
* `REPLACE(product_name, "Eggs (dozen)", "Eggs (12-pack)"):` REplaces Eggs(dozen) by Eggs(12-pack).

In [14]:
%%sql

UPDATE orders
SET product_name = "Eggs (12-pack)"
WHERE 
    product_name = "Eggs (dozen)";

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
0 rows affected.

[]

###Explanation
* `UPDATE orders:` Specifies the table to update.
* `SET product_name = "Eggs (12-pack)":` Sets a new value for the product_name column.
* `WHERE product_name = "Eggs (dozen)";` Ensures that only rows where the procuct_name is Eggs (dozen) are updated.

### ðŸ”¹ 11. Concatenate city and payment method 
> #### ðŸ’¼ "How are payment methods distributed across different cities, and how can we track city-payment combinations for analysis?"

In [15]:
%%sql

SELECT
    city,
    payment_method,
    CONCAT(city," - ",payment_method) AS city_payment
FROM
    orders
WHERE
    city IS NOT NULL AND payment_method IS NOT NULL;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
101 rows affected.

[('Dakar', 'Card', 'Dakar - Card'),
 ('Addis Ababa', 'Cash', 'Addis Ababa - Cash'),
 ('Cairo', 'Card', 'Cairo - Card'),
 ('Tunis', 'Card', 'Tunis - Card'),
 ('Abidjan', 'Card', 'Abidjan - Card'),
 ('Accra', 'Transfer', 'Accra - Transfer'),
 ('Abidjan', 'Transfer', 'Abidjan - Transfer'),
 ('Kampala', 'Transfer', 'Kampala - Transfer'),
 ('Dakar', 'Card', 'Dakar - Card'),
 ('Cairo', 'Cash', 'Cairo - Cash'),
 ('Kampala', 'Transfer', 'Kampala - Transfer'),
 ('Tunis', 'Card', 'Tunis - Card'),
 ('Tunis', 'Card', 'Tunis - Card'),
 ('Cairo', 'Cash', 'Cairo - Cash'),
 ('Cairo', 'Card', 'Cairo - Card'),
 ('Addis Ababa', 'Card', 'Addis Ababa - Card'),
 ('Addis Ababa', 'Transfer', 'Addis Ababa - Transfer'),
 ('Kampala', 'Cash', 'Kampala - Cash'),
 ('Dakar', 'Cash', 'Dakar - Cash'),
 ('Abidjan', 'Cash', 'Abidjan - Cash'),
 ('Nairobi', 'Cash', 'Nairobi - Cash'),
 ('Addis Ababa', 'Card', 'Addis Ababa - Card'),
 ('Addis Ababa', 'Transfer', 'Addis Ababa - Transfer'),
 ('Addis Ababa', 'Cash', 'Addis Ababa - Cash'),
 ('Accra', 'Cash', 'Accra - Cash'),
 ('Tunis', 'Card', 'Tunis - Card'),
 ('Johannesburg', 'Card', 'Johannesburg - Card'),
 ('Dakar', 'Transfer', 'Dakar - Transfer'),
 ('Tunis', 'Cash', 'Tunis - Cash'),
 ('Cairo', 'Card', 'Cairo - Card'),
 ('Kampala', 'Transfer', 'Kampala - Transfer'),
 ('Cairo', 'Card', 'Cairo - Card'),
 ('Accra', 'Cash', 'Accra - Cash'),
 ('Dakar', 'Transfer', 'Dakar - Transfer'),
 ('Johannesburg', 'Card', 'Johannesburg - Card'),
 ('Tunis', 'Card', 'Tunis - Card'),
 ('Addis Ababa', 'Cash', 'Addis Ababa - Cash'),
 ('Accra', 'Card', 'Accra - Card'),
 ('Addis Ababa', 'Card', 'Addis Ababa - Card'),
 ('Tunis', 'Card', 'Tunis - Card'),
 ('Abidjan', 'Cash', 'Abidjan - Cash'),
 ('Lagos', 'Cash', 'Lagos - Cash'),
 ('Dakar', 'Transfer', 'Dakar - Transfer'),
 ('Kampala', 'Transfer', 'Kampala - Transfer'),
 ('Cairo', 'Cash', 'Cairo - Cash'),
 ('Cairo', 'Card', 'Cairo - Card'),
 ('Kampala', 'Card', 'Kampala - Card'),
 ('Cairo', 'Card', 'Cairo - Card'),
 ('Nairobi', 'Cash', 'Nairobi - Cash'),
 ('Johannesburg', 'Transfer', 'Johannesburg - Transfer'),
 ('Kampala', 'Cash', 'Kampala - Cash'),
 ('Johannesburg', 'Cash', 'Johannesburg - Cash'),
 ('Dakar', 'Transfer', 'Dakar - Transfer'),
 ('Lagos', 'Transfer', 'Lagos - Transfer'),
 ('Cairo', 'Card', 'Cairo - Card'),
 ('Addis Ababa', 'Card', 'Addis Ababa - Card'),
 ('Nairobi', 'Transfer', 'Nairobi - Transfer'),
 ('Cairo', 'Cash', 'Cairo - Cash'),
 ('Accra', 'Card', 'Accra - Card'),
 ('Nairobi', 'Transfer', 'Nairobi - Transfer'),
 ('Addis Ababa', 'Cash', 'Addis Ababa - Cash'),
 ('Dakar', 'Transfer', 'Dakar - Transfer'),
 ('Dakar', 'Transfer', 'Dakar - Transfer'),
 ('Johannesburg', 'Cash', 'Johannesburg - Cash'),
 ('Tunis', 'Card', 'Tunis - Card'),
 ('Cairo', 'Cash', 'Cairo - Cash'),
 ('Nairobi', 'Card', 'Nairobi - Card'),
 ('Kampala', 'Cash', 'Kampala - Cash'),
 ('Addis Ababa', 'Cash', 'Addis Ababa - Cash'),
 ('Accra', 'Card', 'Accra - Card'),
 ('Johannesburg', 'Card', 'Johannesburg - Card'),
 ('Johannesburg', 'Cash', 'Johannesburg - Cash'),
 ('Dakar', 'Transfer', 'Dakar - Transfer'),
 ('Accra', 'Cash', 'Accra - Cash'),
 ('Dakar', 'Transfer', 'Dakar - Transfer'),
 ('Accra', 'Transfer', 'Accra - Transfer'),
 ('Tunis', 'Card', 'Tunis - Card'),
 ('Johannesburg', 'Card', 'Johannesburg - Card'),
 ('Johannesburg', 'Card', 'Johannesburg - Card'),
 ('Dakar', 'Transfer', 'Dakar - Transfer'),
 ('Dakar', 'Cash', 'Dakar - Cash'),
 ('Nairobi', 'Transfer', 'Nairobi - Transfer'),
 ('Tunis', 'Card', 'Tunis - Card'),
 ('Nairobi', 'Card', 'Nairobi - Card'),
 ('Kampala', 'Transfer', 'Kampala - Transfer'),
 ('Kampala', 'Transfer', 'Kampala - Transfer'),
 ('Nairobi', 'Card', 'Nairobi - Card'),
 ('Dakar', 'Cash', 'Dakar - Cash'),
 ('Accra', 'Transfer', 'Accra - Transfer'),
 ('Tunis', 'Card', 'Tunis - Card'),
 ('Kampala', 'Card', 'Kampala - Card'),
 ('Accra', 'Cash', 'Accra - Cash'),
 ('Cairo', 'Cash', 'Cairo - Cash'),
 ('Addis Ababa', 'Card', 'Addis Ababa - Card'),
 ('Nairobi', 'Card', 'Nairobi - Card'),
 ('Kampala', 'Cash', 'Kampala - Cash'),
 ('Tunis', 'Card', 'Tunis - Card'),
 ('Addis Ababa', 'Cash', 'Addis Ababa - Cash'),
 ('Abidjan', 'Card', 'Abidjan - Card'),
 ('Nairobi', 'Cash', 'Nairobi - Cash'),
 ('Jos', 'Transfer', 'Jos - Transfer')]

### Explanation
* `CONCAT(city," - ",payment_method):` Joins the city name and payment method with a dash in betweem.
* `AS city_payment:` Labels the result column for clarity.
* `WHERE city IS NOT NULL AND payment_method IS NOT NULL:` Ensure both city and payment method values are present.

## â“ Section 4: NULL Handling Functions
### ðŸ”¹ 12. Replace NULL delivery ratings with 0
> #### ðŸ’¼ "How can we handle missing delivery ratings to ensure accurate analysis and prevent null values from skewing results?"

In [16]:
%%sql

SELECT
    IFNULL(delivery_rating,0)
FROM
    orders;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
101 rows affected.

[(1,),
 (4,),
 (4,),
 (3,),
 (4,),
 (1,),
 (0,),
 (3,),
 (0,),
 (0,),
 (0,),
 (5,),
 (2,),
 (0,),
 (4,),
 (4,),
 (3,),
 (2,),
 (4,),
 (5,),
 (0,),
 (5,),
 (2,),
 (5,),
 (3,),
 (0,),
 (0,),
 (1,),
 (0,),
 (0,),
 (4,),
 (3,),
 (0,),
 (2,),
 (2,),
 (0,),
 (2,),
 (1,),
 (2,),
 (3,),
 (0,),
 (5,),
 (0,),
 (3,),
 (4,),
 (1,),
 (3,),
 (0,),
 (5,),
 (2,),
 (4,),
 (0,),
 (5,),
 (0,),
 (0,),
 (1,),
 (2,),
 (0,),
 (3,),
 (1,),
 (4,),
 (2,),
 (4,),
 (3,),
 (3,),
 (0,),
 (2,),
 (0,),
 (0,),
 (2,),
 (5,),
 (2,),
 (3,),
 (2,),
 (0,),
 (1,),
 (0,),
 (2,),
 (3,),
 (3,),
 (0,),
 (4,),
 (1,),
 (4,),
 (0,),
 (1,),
 (0,),
 (3,),
 (1,),
 (0,),
 (1,),
 (0,),
 (0,),
 (0,),
 (4,),
 (0,),
 (2,),
 (1,),
 (3,),
 (3,),
 (0,)]

### Explanation
* `IFNULL(delivery_rating,0):` Replaces null values in the delivery rating  column by 0, if the rating is not null, it remains unchanged. This change happen only on the result not the actual table.

### ðŸ”¹ 13. Return NULL if delivery rating = 1 (poor)
> #### ðŸ’¼ "How can we exclude extremely poor delivery ratings from analysis by treating them as missing data?"

In [17]:
%%sql

SELECT
    NULLIF(delivery_rating, 1) AS adjusted_rating
FROM
    orders;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
101 rows affected.

[(None,),
 (4,),
 (4,),
 (3,),
 (4,),
 (None,),
 (None,),
 (3,),
 (None,),
 (None,),
 (None,),
 (5,),
 (2,),
 (None,),
 (4,),
 (4,),
 (3,),
 (2,),
 (4,),
 (5,),
 (None,),
 (5,),
 (2,),
 (5,),
 (3,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (4,),
 (3,),
 (None,),
 (2,),
 (2,),
 (None,),
 (2,),
 (None,),
 (2,),
 (3,),
 (None,),
 (5,),
 (None,),
 (3,),
 (4,),
 (None,),
 (3,),
 (None,),
 (5,),
 (2,),
 (4,),
 (None,),
 (5,),
 (None,),
 (None,),
 (None,),
 (2,),
 (None,),
 (3,),
 (None,),
 (4,),
 (2,),
 (4,),
 (3,),
 (3,),
 (None,),
 (2,),
 (None,),
 (None,),
 (2,),
 (5,),
 (2,),
 (3,),
 (2,),
 (None,),
 (None,),
 (None,),
 (2,),
 (3,),
 (3,),
 (None,),
 (4,),
 (None,),
 (4,),
 (None,),
 (None,),
 (None,),
 (3,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (4,),
 (None,),
 (2,),
 (None,),
 (3,),
 (3,),
 (None,)]

### Explanation
* `NULLIF(delivery_rating, 1):` Returns NULL only when delivery_rating is 1, otherwise returns the original value.
* `AS adjusted_rating:` Assigns a readable alias to the output column.

### ðŸ”¹ 14. Show first non-null value from a list of columns
> #### ðŸ’¼ "How can we ensure we always return a meaningful value from our order data, even when some fields are missing?"

In [18]:
%%sql

SELECT
    COALESCE(delivery_rating, quantity, total_amount) AS first_non_null
FROM orders;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
101 rows affected.

[(Decimal('1.00'),),
 (Decimal('4.00'),),
 (Decimal('4.00'),),
 (Decimal('3.00'),),
 (Decimal('4.00'),),
 (Decimal('1.00'),),
 (Decimal('2.00'),),
 (Decimal('3.00'),),
 (Decimal('9.00'),),
 (Decimal('6.00'),),
 (Decimal('2.00'),),
 (Decimal('5.00'),),
 (Decimal('2.00'),),
 (Decimal('5.00'),),
 (Decimal('4.00'),),
 (Decimal('4.00'),),
 (Decimal('3.00'),),
 (Decimal('2.00'),),
 (Decimal('4.00'),),
 (Decimal('5.00'),),
 (Decimal('6.00'),),
 (Decimal('5.00'),),
 (Decimal('2.00'),),
 (Decimal('5.00'),),
 (Decimal('3.00'),),
 (Decimal('6.00'),),
 (Decimal('3.00'),),
 (Decimal('1.00'),),
 (Decimal('8.00'),),
 (Decimal('7.00'),),
 (Decimal('4.00'),),
 (Decimal('3.00'),),
 (Decimal('9.00'),),
 (Decimal('2.00'),),
 (Decimal('2.00'),),
 (Decimal('4.00'),),
 (Decimal('2.00'),),
 (Decimal('1.00'),),
 (Decimal('2.00'),),
 (Decimal('3.00'),),
 (Decimal('8.00'),),
 (Decimal('5.00'),),
 (Decimal('4.00'),),
 (Decimal('3.00'),),
 (Decimal('4.00'),),
 (Decimal('1.00'),),
 (Decimal('3.00'),),
 (Decimal('7.00'),),
 (Decimal('5.00'),),
 (Decimal('2.00'),),
 (Decimal('4.00'),),
 (Decimal('1.00'),),
 (Decimal('5.00'),),
 (Decimal('2.00'),),
 (Decimal('7.00'),),
 (Decimal('1.00'),),
 (Decimal('2.00'),),
 (Decimal('6.00'),),
 (Decimal('3.00'),),
 (Decimal('1.00'),),
 (Decimal('4.00'),),
 (Decimal('2.00'),),
 (Decimal('4.00'),),
 (Decimal('3.00'),),
 (Decimal('3.00'),),
 (Decimal('10.00'),),
 (Decimal('2.00'),),
 (Decimal('7.00'),),
 (Decimal('1.00'),),
 (Decimal('2.00'),),
 (Decimal('5.00'),),
 (Decimal('2.00'),),
 (Decimal('3.00'),),
 (Decimal('2.00'),),
 (Decimal('1.00'),),
 (Decimal('1.00'),),
 (Decimal('2.00'),),
 (Decimal('2.00'),),
 (Decimal('3.00'),),
 (Decimal('3.00'),),
 (Decimal('3.00'),),
 (Decimal('4.00'),),
 (Decimal('1.00'),),
 (Decimal('4.00'),),
 (Decimal('4.00'),),
 (Decimal('1.00'),),
 (Decimal('5.00'),),
 (Decimal('3.00'),),
 (Decimal('1.00'),),
 (Decimal('2.00'),),
 (Decimal('1.00'),),
 (Decimal('3.00'),),
 (Decimal('9.00'),),
 (Decimal('9.00'),),
 (Decimal('4.00'),),
 (Decimal('6.00'),),
 (Decimal('2.00'),),
 (Decimal('1.00'),),
 (Decimal('3.00'),),
 (Decimal('3.00'),),
 (Decimal('10.00'),)]

### Explanation
* `COALESCE():` Returns the first non-null value from the list of columns provided.
    * In this case, it returns:
        * `delivery_rating:` If it is not null
        * If delivery_rating is null, it checks quantity.
        * If `quantity` is also null it checks the total_amount.

## âš–ï¸ Section 5: Conditional Logic (IF & CASE)
### ðŸ”¹ 15. Label large orders as 'Bulk' if quantity > 5 
> #### ðŸ’¼ "How can we classify orders as 'Bulk' or 'Standard' based on quantity purchased?"

In [19]:
%%sql

SELECT
    quantity,
    IF(quantity > 5,"Bulk", "Standard") AS order_type
FROM
    orders;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
101 rows affected.

[(1, 'Standard'),
 (9, 'Bulk'),
 (9, 'Bulk'),
 (9, 'Bulk'),
 (7, 'Bulk'),
 (3, 'Standard'),
 (2, 'Standard'),
 (2, 'Standard'),
 (9, 'Bulk'),
 (6, 'Bulk'),
 (2, 'Standard'),
 (4, 'Standard'),
 (4, 'Standard'),
 (5, 'Standard'),
 (6, 'Bulk'),
 (1, 'Standard'),
 (10, 'Bulk'),
 (9, 'Bulk'),
 (9, 'Bulk'),
 (10, 'Bulk'),
 (6, 'Bulk'),
 (2, 'Standard'),
 (1, 'Standard'),
 (4, 'Standard'),
 (8, 'Bulk'),
 (6, 'Bulk'),
 (3, 'Standard'),
 (8, 'Bulk'),
 (8, 'Bulk'),
 (7, 'Bulk'),
 (6, 'Bulk'),
 (6, 'Bulk'),
 (9, 'Bulk'),
 (5, 'Standard'),
 (1, 'Standard'),
 (4, 'Standard'),
 (10, 'Bulk'),
 (4, 'Standard'),
 (4, 'Standard'),
 (9, 'Bulk'),
 (8, 'Bulk'),
 (9, 'Bulk'),
 (4, 'Standard'),
 (5, 'Standard'),
 (2, 'Standard'),
 (9, 'Bulk'),
 (4, 'Standard'),
 (7, 'Bulk'),
 (9, 'Bulk'),
 (5, 'Standard'),
 (4, 'Standard'),
 (1, 'Standard'),
 (8, 'Bulk'),
 (2, 'Standard'),
 (7, 'Bulk'),
 (6, 'Bulk'),
 (4, 'Standard'),
 (6, 'Bulk'),
 (7, 'Bulk'),
 (3, 'Standard'),
 (5, 'Standard'),
 (2, 'Standard'),
 (5, 'Standard'),
 (8, 'Bulk'),
 (3, 'Standard'),
 (10, 'Bulk'),
 (5, 'Standard'),
 (7, 'Bulk'),
 (1, 'Standard'),
 (9, 'Bulk'),
 (6, 'Bulk'),
 (10, 'Bulk'),
 (7, 'Bulk'),
 (7, 'Bulk'),
 (1, 'Standard'),
 (7, 'Bulk'),
 (2, 'Standard'),
 (2, 'Standard'),
 (5, 'Standard'),
 (1, 'Standard'),
 (3, 'Standard'),
 (7, 'Bulk'),
 (9, 'Bulk'),
 (9, 'Bulk'),
 (4, 'Standard'),
 (7, 'Bulk'),
 (5, 'Standard'),
 (4, 'Standard'),
 (5, 'Standard'),
 (2, 'Standard'),
 (3, 'Standard'),
 (3, 'Standard'),
 (9, 'Bulk'),
 (9, 'Bulk'),
 (3, 'Standard'),
 (6, 'Bulk'),
 (6, 'Bulk'),
 (4, 'Standard'),
 (6, 'Bulk'),
 (2, 'Standard'),
 (10, 'Bulk')]

### Explanation
* `IF(quantity > 5,"Bulk", "Standard"):` Returns 'Bulk' if the quantity is greater that 5, otherwise it returns 'standard'

### ðŸ”¹ 16. Use CASE to classify cities into regions 
> #### ðŸ’¼ "How can we group customer cities into regional categories to analyze trends across West, East, and other parts of Africa?"

In [20]:
%%sql

SELECT city,
        CASE
            WHEN city IN ("Lagos", "Abuja", "Ibadan") THEN "Southwest"
            WHEN city IN ("Kano", "Kaduna", "Sokoto") THEN "Northwest"
            WHEN city IN ("Enugu", "Owerri", "Onitsha") THEN "Southeast"
            ELSE "Other"
        END AS region
FROM orders
WHERE city IS NOT NULL;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
101 rows affected.

[('Dakar', 'Other'),
 ('Addis Ababa', 'Other'),
 ('Cairo', 'Other'),
 ('Tunis', 'Other'),
 ('Abidjan', 'Other'),
 ('Accra', 'Other'),
 ('Abidjan', 'Other'),
 ('Kampala', 'Other'),
 ('Dakar', 'Other'),
 ('Cairo', 'Other'),
 ('Kampala', 'Other'),
 ('Tunis', 'Other'),
 ('Tunis', 'Other'),
 ('Cairo', 'Other'),
 ('Cairo', 'Other'),
 ('Addis Ababa', 'Other'),
 ('Addis Ababa', 'Other'),
 ('Kampala', 'Other'),
 ('Dakar', 'Other'),
 ('Abidjan', 'Other'),
 ('Nairobi', 'Other'),
 ('Addis Ababa', 'Other'),
 ('Addis Ababa', 'Other'),
 ('Addis Ababa', 'Other'),
 ('Accra', 'Other'),
 ('Tunis', 'Other'),
 ('Johannesburg', 'Other'),
 ('Dakar', 'Other'),
 ('Tunis', 'Other'),
 ('Cairo', 'Other'),
 ('Kampala', 'Other'),
 ('Cairo', 'Other'),
 ('Accra', 'Other'),
 ('Dakar', 'Other'),
 ('Johannesburg', 'Other'),
 ('Tunis', 'Other'),
 ('Addis Ababa', 'Other'),
 ('Accra', 'Other'),
 ('Addis Ababa', 'Other'),
 ('Tunis', 'Other'),
 ('Abidjan', 'Other'),
 ('Lagos', 'Southwest'),
 ('Dakar', 'Other'),
 ('Kampala', 'Other'),
 ('Cairo', 'Other'),
 ('Cairo', 'Other'),
 ('Kampala', 'Other'),
 ('Cairo', 'Other'),
 ('Nairobi', 'Other'),
 ('Johannesburg', 'Other'),
 ('Kampala', 'Other'),
 ('Johannesburg', 'Other'),
 ('Dakar', 'Other'),
 ('Lagos', 'Southwest'),
 ('Cairo', 'Other'),
 ('Addis Ababa', 'Other'),
 ('Nairobi', 'Other'),
 ('Cairo', 'Other'),
 ('Accra', 'Other'),
 ('Nairobi', 'Other'),
 ('Addis Ababa', 'Other'),
 ('Dakar', 'Other'),
 ('Dakar', 'Other'),
 ('Johannesburg', 'Other'),
 ('Tunis', 'Other'),
 ('Cairo', 'Other'),
 ('Nairobi', 'Other'),
 ('Kampala', 'Other'),
 ('Addis Ababa', 'Other'),
 ('Accra', 'Other'),
 ('Johannesburg', 'Other'),
 ('Johannesburg', 'Other'),
 ('Dakar', 'Other'),
 ('Accra', 'Other'),
 ('Dakar', 'Other'),
 ('Accra', 'Other'),
 ('Tunis', 'Other'),
 ('Johannesburg', 'Other'),
 ('Johannesburg', 'Other'),
 ('Dakar', 'Other'),
 ('Dakar', 'Other'),
 ('Nairobi', 'Other'),
 ('Tunis', 'Other'),
 ('Nairobi', 'Other'),
 ('Kampala', 'Other'),
 ('Kampala', 'Other'),
 ('Nairobi', 'Other'),
 ('Dakar', 'Other'),
 ('Accra', 'Other'),
 ('Tunis', 'Other'),
 ('Kampala', 'Other'),
 ('Accra', 'Other'),
 ('Cairo', 'Other'),
 ('Addis Ababa', 'Other'),
 ('Nairobi', 'Other'),
 ('Kampala', 'Other'),
 ('Tunis', 'Other'),
 ('Addis Ababa', 'Other'),
 ('Abidjan', 'Other'),
 ('Nairobi', 'Other'),
 ('Jos', 'Other')]

### Explanation
* `CASE WHEN city IN (...) THEN ...:` Classifies each city into a predefined region based on its name.
* ` 'Southwest', 'Northwest', 'Southeast':` Region labels assigned to cities in each group.
*  `ELSE 'Other':` labels other to any other city that doest match any listed group.
* `AS region:` Labels the output column with the name region.
* `WHERE city IS NOT NULL:` Ensure we only classify non-null city names.

### ðŸ”¹ 17. Nested IF: Label order quality 
> #### ðŸ’¼ "How can we categorize delivery experiences into quality tiers to better understand customer satisfaction?"

In [21]:
%%sql

SELECT delivery_rating,
    IF (delivery_rating >=4, 'Excellent',
        IF(delivery_rating>=2, 'Okay', 'Poor')) AS rating_label
FROM orders;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
101 rows affected.

[(1, 'Poor'),
 (4, 'Excellent'),
 (4, 'Excellent'),
 (3, 'Okay'),
 (4, 'Excellent'),
 (1, 'Poor'),
 (None, 'Poor'),
 (3, 'Okay'),
 (None, 'Poor'),
 (None, 'Poor'),
 (None, 'Poor'),
 (5, 'Excellent'),
 (2, 'Okay'),
 (None, 'Poor'),
 (4, 'Excellent'),
 (4, 'Excellent'),
 (3, 'Okay'),
 (2, 'Okay'),
 (4, 'Excellent'),
 (5, 'Excellent'),
 (None, 'Poor'),
 (5, 'Excellent'),
 (2, 'Okay'),
 (5, 'Excellent'),
 (3, 'Okay'),
 (None, 'Poor'),
 (None, 'Poor'),
 (1, 'Poor'),
 (None, 'Poor'),
 (None, 'Poor'),
 (4, 'Excellent'),
 (3, 'Okay'),
 (None, 'Poor'),
 (2, 'Okay'),
 (2, 'Okay'),
 (None, 'Poor'),
 (2, 'Okay'),
 (1, 'Poor'),
 (2, 'Okay'),
 (3, 'Okay'),
 (None, 'Poor'),
 (5, 'Excellent'),
 (None, 'Poor'),
 (3, 'Okay'),
 (4, 'Excellent'),
 (1, 'Poor'),
 (3, 'Okay'),
 (None, 'Poor'),
 (5, 'Excellent'),
 (2, 'Okay'),
 (4, 'Excellent'),
 (None, 'Poor'),
 (5, 'Excellent'),
 (None, 'Poor'),
 (None, 'Poor'),
 (1, 'Poor'),
 (2, 'Okay'),
 (None, 'Poor'),
 (3, 'Okay'),
 (1, 'Poor'),
 (4, 'Excellent'),
 (2, 'Okay'),
 (4, 'Excellent'),
 (3, 'Okay'),
 (3, 'Okay'),
 (None, 'Poor'),
 (2, 'Okay'),
 (None, 'Poor'),
 (None, 'Poor'),
 (2, 'Okay'),
 (5, 'Excellent'),
 (2, 'Okay'),
 (3, 'Okay'),
 (2, 'Okay'),
 (None, 'Poor'),
 (1, 'Poor'),
 (None, 'Poor'),
 (2, 'Okay'),
 (3, 'Okay'),
 (3, 'Okay'),
 (None, 'Poor'),
 (4, 'Excellent'),
 (1, 'Poor'),
 (4, 'Excellent'),
 (None, 'Poor'),
 (1, 'Poor'),
 (None, 'Poor'),
 (3, 'Okay'),
 (1, 'Poor'),
 (None, 'Poor'),
 (1, 'Poor'),
 (None, 'Poor'),
 (None, 'Poor'),
 (None, 'Poor'),
 (4, 'Excellent'),
 (None, 'Poor'),
 (2, 'Okay'),
 (1, 'Poor'),
 (3, 'Okay'),
 (3, 'Okay'),
 (None, 'Poor')]

### Explanation
* `IF (delivery_rating >=4, 'Excellent':` If the delivery rating is 4 or 5 it's labeled "Excellent".
* `IF(delivery_rating>=2, 'Okay':` If the delivery rating is 3 or 2 it's labeled "Okay".
* `"Poor":` Defaul label for all other cases

### ðŸ”¹ 18. Nested CASE + IF: Create a CASE logic that labels orders as Excellent, Average, Needs Improvement.

> #### ðŸ’¼ "How can we classify the quality of each order based on customer satisfaction and order size, so we can prioritize follow-up or improvement efforts?"

In [22]:
%%sql

SELECT order_id,
        delivery_rating,
        quantity,
        CASE
            WHEN delivery_rating >= 4 THEN 'Excellent'
            WHEN delivery_rating = 3 THEN 'Average'
            WHEN delivery_rating <=2 THEN
                IF(quantity > 3, 'Needs Improvement', 'Poor')
            ELSE 'Unknown'
        END AS order_quality
FROM orders
WHERE delivery_rating IS NOT NULL;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
68 rows affected.

[(1, 1, 1, 'Poor'),
 (2, 4, 9, 'Excellent'),
 (3, 4, 9, 'Excellent'),
 (4, 3, 9, 'Average'),
 (5, 4, 7, 'Excellent'),
 (6, 1, 3, 'Poor'),
 (8, 3, 2, 'Average'),
 (12, 5, 4, 'Excellent'),
 (13, 2, 4, 'Needs Improvement'),
 (15, 4, 6, 'Excellent'),
 (16, 4, 1, 'Excellent'),
 (17, 3, 10, 'Average'),
 (18, 2, 9, 'Needs Improvement'),
 (19, 4, 9, 'Excellent'),
 (20, 5, 10, 'Excellent'),
 (22, 5, 2, 'Excellent'),
 (23, 2, 1, 'Poor'),
 (24, 5, 4, 'Excellent'),
 (25, 3, 8, 'Average'),
 (28, 1, 8, 'Needs Improvement'),
 (31, 4, 6, 'Excellent'),
 (32, 3, 6, 'Average'),
 (34, 2, 5, 'Needs Improvement'),
 (35, 2, 1, 'Poor'),
 (37, 2, 10, 'Needs Improvement'),
 (38, 1, 4, 'Needs Improvement'),
 (39, 2, 4, 'Needs Improvement'),
 (40, 3, 9, 'Average'),
 (42, 5, 9, 'Excellent'),
 (44, 3, 5, 'Average'),
 (45, 4, 2, 'Excellent'),
 (46, 1, 9, 'Needs Improvement'),
 (47, 3, 4, 'Average'),
 (49, 5, 9, 'Excellent'),
 (50, 2, 5, 'Needs Improvement'),
 (51, 4, 4, 'Excellent'),
 (53, 5, 8, 'Excellent'),
 (56, 1, 6, 'Needs Improvement'),
 (57, 2, 4, 'Needs Improvement'),
 (59, 3, 7, 'Average'),
 (60, 1, 3, 'Poor'),
 (61, 4, 5, 'Excellent'),
 (62, 2, 2, 'Poor'),
 (63, 4, 5, 'Excellent'),
 (64, 3, 8, 'Average'),
 (65, 3, 3, 'Average'),
 (67, 2, 5, 'Needs Improvement'),
 (70, 2, 9, 'Needs Improvement'),
 (71, 5, 6, 'Excellent'),
 (72, 2, 10, 'Needs Improvement'),
 (73, 3, 7, 'Average'),
 (74, 2, 7, 'Needs Improvement'),
 (76, 1, 7, 'Needs Improvement'),
 (78, 2, 2, 'Poor'),
 (79, 3, 5, 'Average'),
 (80, 3, 1, 'Average'),
 (82, 4, 7, 'Excellent'),
 (83, 1, 9, 'Needs Improvement'),
 (84, 4, 9, 'Excellent'),
 (86, 1, 7, 'Needs Improvement'),
 (88, 3, 4, 'Average'),
 (89, 1, 5, 'Needs Improvement'),
 (91, 1, 3, 'Poor'),
 (95, 4, 3, 'Excellent'),
 (97, 2, 6, 'Needs Improvement'),
 (98, 1, 4, 'Needs Improvement'),
 (99, 3, 6, 'Average'),
 (100, 3, 2, 'Average')]

### Explanation
* `CASE:` Used to define main delivery rating tiers (Excellent, Average, etc)
* `WHEN delivery_rating >= 4 THEN 'Excellent':` Orders rated 4 or 5 are considered excellent.
* `WHEN delivery_rating = 3 THEN 'Average':` Orders rated 3 are average.
* `WHEN delivery_rating <= 2 THEN IF(quantity > 3, 'Needs Improvement', 'Poor'):` For low-rated orders, we check quantity:
      * IF quantity is more than 3, it 'Needs Improvement'
      * Otherwise it's 'Poor'.
* `ELSE 'Unknown':` Catches any unexpected or invalid case.
* `WHERE delivery_rating IS NOT NULL:` Ensures we don't include null values.

## ðŸ”„ Section 6: Window Function Simulations (Simple Context) 

### ðŸ§  What is a Window Function in SQL?
A window function performs a calculation across a set of rows that are related to the current row, without collapsing the result into a single row (as aggregate functions do).

`It allows you to:`

- Retain row-level detail while also adding rankings, running totals, averages, or differences across rows.



### ðŸ”¹ 19. Rank orders by total amount (ROW_NUMBER) 
> #### ðŸ’¼ "Which customers placed the highest-value orders, and how do their purchases rank compared to others?"

In [23]:
%%sql

SELECT order_id,
        customer_name,
        total_amount,
        ROW_NUMBER() OVER(ORDER BY total_amount DESC) AS order_rank
FROM orders
WHERE total_amount IS NOT NULL;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
101 rows affected.

[(37, 'Fatou Molefe', Decimal('43.10'), 1),
 (93, 'Fatou Bekele', Decimal('42.84'), 2),
 (72, 'Kwame Dlamini', Decimal('40.90'), 3),
 (84, 'Yared Boateng', Decimal('38.43'), 4),
 (40, 'Amina Diallo', Decimal('37.89'), 5),
 (28, 'Amina Molefe', Decimal('36.88'), 6),
 (64, 'Zainab Boateng', Decimal('34.24'), 7),
 (76, 'Juma Abubakar', Decimal('34.02'), 8),
 (83, 'Juma Molefe', Decimal('33.84'), 9),
 (3, 'Amina Mwangi', Decimal('32.76'), 10),
 (74, 'Thato Diallo', Decimal('32.55'), 11),
 (70, 'Kofi Bekele', Decimal('32.31'), 12),
 (4, 'Kofi Abubakar', Decimal('31.41'), 13),
 (55, 'Fatou Dlamini', Decimal('30.24'), 14),
 (99, 'Thato Mensah', Decimal('29.34'), 15),
 (82, 'Yared Osei', Decimal('29.12'), 16),
 (29, 'Amina Boateng', Decimal('28.80'), 17),
 (59, 'Amina Boateng', Decimal('28.42'), 18),
 (49, 'Lindiwe Dlamini', Decimal('27.90'), 19),
 (9, 'Amina Mensah', Decimal('27.45'), 20),
 (25, 'Kwame Diallo', Decimal('26.96'), 21),
 (15, 'Juma Osei', Decimal('26.34'), 22),
 (33, 'Abena Boateng', Decimal('24.12'), 23),
 (10, 'Lindiwe Diallo', Decimal('23.82'), 24),
 (61, 'Thato Dlamini', Decimal('21.70'), 25),
 (18, 'Amina Omar', Decimal('21.15'), 26),
 (87, 'Yared Mwangi', Decimal('21.15'), 27),
 (34, 'Thato Mensah', Decimal('20.95'), 28),
 (71, 'Abena Osei', Decimal('20.16'), 29),
 (20, 'Thato Omar', Decimal('19.80'), 30),
 (17, 'Zainab Osei', Decimal('19.00'), 31),
 (24, 'Zainab Bekele', Decimal('19.00'), 32),
 (13, 'Lindiwe Molefe', Decimal('18.32'), 33),
 (38, 'Lindiwe Boateng', Decimal('18.08'), 34),
 (51, 'Lindiwe Molefe', Decimal('17.92'), 35),
 (2, 'Fatou Molefe', Decimal('17.73'), 36),
 (97, 'Lindiwe Mwangi', Decimal('17.64'), 37),
 (48, 'Thato Bekele', Decimal('17.15'), 38),
 (19, 'Amina Omar', Decimal('17.10'), 39),
 (63, 'Zainab Boateng', Decimal('16.90'), 40),
 (57, 'Kwame Bekele', Decimal('15.16'), 41),
 (86, 'Fatou Diallo', Decimal('14.77'), 42),
 (43, 'Amina Mwangi', Decimal('14.40'), 43),
 (79, 'Juma Diallo', Decimal('13.95'), 44),
 (68, 'Kwame Diallo', Decimal('13.65'), 45),
 (66, 'Abena Diallo', Decimal('13.50'), 46),
 (85, 'Kofi Omar', Decimal('13.48'), 47),
 (65, 'Zainab Diallo', Decimal('13.32'), 48),
 (73, 'Abena Abubakar', Decimal('13.30'), 49),
 (41, 'Abena Boateng', Decimal('13.28'), 50),
 (67, 'Yared Omar', Decimal('13.05'), 51),
 (36, 'Abena Omar', Decimal('12.48'), 52),
 (60, 'Amina Mwangi', Decimal('11.97'), 53),
 (53, 'Kofi Mwangi', Decimal('11.84'), 54),
 (30, 'Kofi Mensah', Decimal('11.69'), 55),
 (39, 'Lindiwe Diallo', Decimal('11.16'), 56),
 (96, 'Kwame Omar', Decimal('10.86'), 57),
 (31, 'Amina Bekele', Decimal('9.96'), 58),
 (58, 'Kwame Mwangi', Decimal('9.84'), 59),
 (91, 'Abena Diallo', Decimal('9.45'), 60),
 (42, 'Kwame Mensah', Decimal('8.73'), 61),
 (78, 'Fatou Boateng', Decimal('8.56'), 62),
 (77, 'Juma Osei', Decimal('8.46'), 63),
 (14, 'Amina Dlamini', Decimal('8.35'), 64),
 (92, 'Kwame Omar', Decimal('8.34'), 65),
 (8, 'Kofi Bekele', Decimal('8.18'), 66),
 (98, 'Zainab Mensah', Decimal('8.12'), 67),
 (88, 'Kwame Osei', Decimal('7.76'), 68),
 (11, 'Fatou Omar', Decimal('7.68'), 69),
 (6, 'Yared Mwangi', Decimal('7.62'), 70),
 (22, 'Amina Boateng', Decimal('7.46'), 71),
 (62, 'Kofi Boateng', Decimal('7.42'), 72),
 (94, 'Yared Osei', Decimal('6.93'), 73),
 (54, 'Fatou Molefe', Decimal('6.56'), 74),
 (27, 'Yared Diallo', Decimal('6.33'), 75),
 (46, 'Juma Omar', Decimal('6.03'), 76),
 (101, 'Grace Anya', Decimal('6.00'), 77),
 (81, 'Amina Molefe', Decimal('5.58'), 78),
 (32, 'Yared Mwangi', Decimal('5.46'), 79),
 (12, 'Kofi Bekele', Decimal('5.44'), 80),
 (95, 'Yared Molefe', Decimal('5.37'), 81),
 (90, 'Abena Diallo', Decimal('4.92'), 82),
 (100, 'Kofi Boateng', Decimal('4.76'), 83),
 (44, 'Kofi Abubakar', Decimal('4.55'), 84),
 (52, 'Kofi Bekele', Decimal('4.28'), 85),
 (56, 'Thato Boateng', Decimal('4.20'), 86),
 (50, 'Fatou Abubakar', Decimal('4.15'), 87),
 (5, 'Lindiwe Molefe', Decimal('4.06'), 88),
 (26, 'Abena Omar', Decimal('3.78'), 89),
 (21, 'Zainab Dlamini', Decimal('3.18'), 90),
 (35, 'Abena Abubakar', Decimal('3.05'), 91),
 (89, 'Juma Mwangi', Decimal('3.05'), 92),
 (47, 'Fatou Abubakar', Decimal('2.84'), 93),
 (45, 'Abena Boateng', Decimal('2.12'), 94),
 (23, 'Juma Molefe', Decimal('1.77'), 95),
 (75, 'Juma Molefe', Decimal('1.67'), 96),
 (16, 'Amina Diallo', Decimal('1.45'), 97),
 (69, 'Zainab Osei', Decimal('1.39'), 98),
 (80, 'Kofi Omar', Decimal('1.39'), 99),
 (7, 'Kofi Mwangi', Decimal('1.24'), 100),
 (1, 'Zainab Boateng', Decimal('1.14'), 101)]

### Explanation 
* ROW_NUMBER() OVER(ORDER BY total_amount DESC): Assigns a unique rank to each order, starting from 1 to the highers total_amount in descending order.
* AS order_rank : Labels the output column that shows the rank
* WHERE total_amount IS NOT NULL: Filters out rows where the total_amount is missing to ensure accurate ranking

## ðŸ’¡ Bonus Section: Advanced Queries with Business Relevance
### ðŸ”¹ 20. Which cities have an average delivery rating below 3? 

> #### ðŸ’¼ "Which cities have an average delivery rating below 3, indicating potential issues with delivery satisfaction?"

In [24]:
%%sql

SELECT city,
        ROUND(AVG(delivery_rating),1) AS avg_delivery_rating
FROM orders
WHERE delivery_rating IS NOT NULL AND city IS NOT NULL
GROUP BY city
HAVING avg_delivery_rating < 3;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
5 rows affected.

[('Dakar', Decimal('2.8')),
 ('Tunis', Decimal('2.7')),
 ('Accra', Decimal('1.8')),
 ('Kampala', Decimal('2.6')),
 ('Johannesburg', Decimal('2.7'))]

### Explanation
* `(AVG(delivery_rating):` Calculates the average delivery rating for each city.
* `ROUND(...,1):` Rounds average rating to 1 decimal place for easier interpretation.
* `GROUP BY city:` Aggregates the result per city.
* `HAVING avg_delivery_rating < 3:` Filters to show only cities with an averagerating below 3.
* `WHERE delivery_rating IS NOT NULL AND city IS NOT NULL:` Ensure only valid values are used in the calculation.

### ðŸ”¹ 21. Which products are underperforming based on both order frequency and total revenue? 

> #### ðŸ’¼  "Which products are underperforming in both sales volume and total revenue, and may need to be reevaluated or promoted?"

In [25]:
%%sql
SELECT product_name,
        COUNT(*) AS order_count,
        SUM(total_amount) AS total_revenue
FROM orders
WHERE product_name IS NOT NULL AND total_amount IS NOT NULL
GROUP BY product_name
HAVING COUNT(*) < 5 AND SUM(total_amount) < 100;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
3 rows affected.

[('Cereal', 3, Decimal('44.07')),
 ('Bananas', 1, Decimal('17.15')),
 ('Spinach', 3, Decimal('42.94'))]

### Explanation
* `COUNT(*) :` Calculates how many times each product has been ordered.
* `SUM(total_amount):` Calculates the total revenue generated by each product.
* `GROUP BY product_name:` Aggregates the metrics per product.
* `HAVING COUNT(*) < 5 AND SUM(total_amount) < 100:` Filters to show only products with low order frequency and low revenue.
* `WHERE product_name IS NOT NULL AND total_amount IS NOT NULL:` Ensures only valid values are used.

### ðŸ”¹ 22. Rank customers by total amount spent (with ties given same rank 
> #### ðŸ’¼ "Who are our top-spending customers, and how do they rank based on total revenue contributed â€” including tied ranks?"

In [26]:
%%sql

SELECT customer_name,
        SUM(total_amount) AS total_spent,
        RANK() OVER(ORDER BY SUM(total_amount) DESC) AS customer_rank
FROM orders
GROUP BY
    customer_name;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
63 rows affected.

[('Fatou Molefe', Decimal('67.39'), 1),
 ('Amina Boateng', Decimal('64.68'), 2),
 ('Amina Mwangi', Decimal('59.13'), 3),
 ('Zainab Boateng', Decimal('52.28'), 4),
 ('Thato Mensah', Decimal('50.29'), 5),
 ('Kofi Bekele', Decimal('50.21'), 6),
 ('Fatou Bekele', Decimal('42.84'), 7),
 ('Amina Molefe', Decimal('42.46'), 8),
 ('Kwame Dlamini', Decimal('40.90'), 9),
 ('Kwame Diallo', Decimal('40.61'), 10),
 ('Lindiwe Molefe', Decimal('40.30'), 11),
 ('Abena Boateng', Decimal('39.52'), 12),
 ('Amina Diallo', Decimal('39.34'), 13),
 ('Yared Boateng', Decimal('38.43'), 14),
 ('Amina Omar', Decimal('38.25'), 15),
 ('Juma Molefe', Decimal('37.28'), 16),
 ('Yared Osei', Decimal('36.05'), 17),
 ('Kofi Abubakar', Decimal('35.96'), 18),
 ('Lindiwe Diallo', Decimal('34.98'), 19),
 ('Juma Osei', Decimal('34.80'), 20),
 ('Yared Mwangi', Decimal('34.23'), 21),
 ('Juma Abubakar', Decimal('34.02'), 22),
 ('Thato Diallo', Decimal('32.55'), 23),
 ('Fatou Dlamini', Decimal('30.24'), 24),
 ('Lindiwe Dlamini', Decimal('27.90'), 25),
 ('Abena Diallo', Decimal('27.87'), 26),
 ('Amina Mensah', Decimal('27.45'), 27),
 ('Thato Dlamini', Decimal('21.70'), 28),
 ('Zainab Osei', Decimal('20.39'), 29),
 ('Abena Osei', Decimal('20.16'), 30),
 ('Thato Omar', Decimal('19.80'), 31),
 ('Kwame Omar', Decimal('19.20'), 32),
 ('Zainab Bekele', Decimal('19.00'), 33),
 ('Lindiwe Boateng', Decimal('18.08'), 34),
 ('Lindiwe Mwangi', Decimal('17.64'), 35),
 ('Thato Bekele', Decimal('17.15'), 36),
 ('Abena Abubakar', Decimal('16.35'), 37),
 ('Abena Omar', Decimal('16.26'), 38),
 ('Kwame Bekele', Decimal('15.16'), 39),
 ('Kofi Omar', Decimal('14.87'), 40),
 ('Fatou Diallo', Decimal('14.77'), 41),
 ('Juma Diallo', Decimal('13.95'), 42),
 ('Zainab Diallo', Decimal('13.32'), 43),
 ('Kofi Mwangi', Decimal('13.08'), 44),
 ('Yared Omar', Decimal('13.05'), 45),
 ('Kofi Boateng', Decimal('12.18'), 46),
 ('Kofi Mensah', Decimal('11.69'), 47),
 ('Amina Bekele', Decimal('9.96'), 48),
 ('Kwame Mwangi', Decimal('9.84'), 49),
 ('Kwame Mensah', Decimal('8.73'), 50),
 ('Fatou Boateng', Decimal('8.56'), 51),
 ('Amina Dlamini', Decimal('8.35'), 52),
 ('Zainab Mensah', Decimal('8.12'), 53),
 ('Kwame Osei', Decimal('7.76'), 54),
 ('Fatou Omar', Decimal('7.68'), 55),
 ('Fatou Abubakar', Decimal('6.99'), 56),
 ('Yared Diallo', Decimal('6.33'), 57),
 ('Juma Omar', Decimal('6.03'), 58),
 ('Grace Anya', Decimal('6.00'), 59),
 ('Yared Molefe', Decimal('5.37'), 60),
 ('Thato Boateng', Decimal('4.20'), 61),
 ('Zainab Dlamini', Decimal('3.18'), 62),
 ('Juma Mwangi', Decimal('3.05'), 63)]

### Explanation
* `SUM(total_amount):` Calculates the total amount each customer has spent across all their orders.
* `RANK() OVER(ORDER BY SUM(total_amount) DESC):` Assigns a rank to each customer based on their total spending, ties recieve the same rank
* `GROUP BY customer_name:` aggregates the data per customer.

### ðŸ”¹ 23. Identify peak ordering day of the week with revenue totals
> #### ðŸ’¼ "Which day of the week generates the highest number of orders and revenue, and how do other days compare?"

In [27]:
%%sql

SELECT 
    DAYNAME(order_date) AS day_of_week,
    COUNT(*) AS order_count,
    SUM(total_amount) AS total_revenue
FROM orders
WHERE order_date IS NOT NULL AND total_amount IS NOT NULL
GROUP BY DAYNAME(order_date)
ORDER BY total_revenue DESC;

 * mysql+pymysql://root:***@127.0.0.1:3306/freshgro_db
7 rows affected.

[('Wednesday', 20, Decimal('312.17')),
 ('Tuesday', 17, Decimal('243.69')),
 ('Friday', 15, Decimal('230.38')),
 ('Sunday', 15, Decimal('219.22')),
 ('Thursday', 14, Decimal('197.67')),
 ('Monday', 11, Decimal('168.89')),
 ('Saturday', 9, Decimal('165.89'))]

### Explanation
* `DAYNAME(order_date):` Extracts the name of the day from the order_date (e.g Monday, Tuesday)
* `COUNT(*):` Counts how many orders were places on each day.
* `SUM(total_amount):` Adds up the total revenue for each day.
* `GROUP BY DAYNAME(order_date):` Groups data by day of the week.
* `ORDER BY total_revenue DESC:` Sorts the results to show the day with the highest revenue first.
* `WHERE order_date IS NOT NULL AND total_amount IS NOT NULL:` Filters out incomplete records.